body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px
}

footer {
    background-color: #D7C7D9;
    padding: 2em
}

img {
    height: 200px
}

nav {
    border-bottom: 1px solid black;
    border-bottom-color: #0FBF9F;
    padding: 16px;
    background: #FCDB32 ;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, auto)
}

h3 > a {
    color: #DA43CC
}

a {
    text-decoration: none;
}

h1{
    color: #0FBF9F
}

tr:nth-child(even) {
    background-color: lightgray
}
